body {
    color: white;
    cursor: pointer; 
    background-color: lightblue;
    opacity: 0.9;

}
.center{
    display: block;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;

}
h1 {
    color: rgb(88, 24, 24);
    cursor: pointer;
    font: serif;
    font-size: 50px;
    text-align: center;


}
p {
    color: rgb(22, 48, 58);
    font: lighter;
    
}
p2{
    color: rgb(22, 48, 58);
    font: lighter;

}



