body {
    color: white;
    cursor: pointer; 
}
h1 {
    color: blanchedalmond;
    cursor: pointer;

}
h2 {
    color: magenta;
    font: lighter;
}
head {
    height: 60px;
    width: 40px;
    color: blue;
    background-color: red;
}

