.boxcups {
    width: 150px;
    height: 100px;
    background-color:aliceblue;
    border: 1px;
    margin: 10px;
}
.boxwater {
    width: 150px;
    height: 100px;
    background-color:aliceblue;
    border: 1px;
    margin: 10px;
}